services:
  palpo:
    environment:
      PALPO_OIDC_ENABLE: ${PALPO_OIDC_ENABLE:-true}
      PALPO_OIDC_PROVIDERS_SSO_ISSUER: ${PALPO_OIDC_PROVIDERS_SSO_ISSUER}
      PALPO_OIDC_PROVIDERS_SSO_CLIENT_ID: ${PALPO_OIDC_PROVIDERS_SSO_CLIENT_ID}
      PALPO_OIDC_PROVIDERS_SSO_CLIENT_SECRET: ${PALPO_OIDC_PROVIDERS_SSO_CLIENT_SECRET}
      PALPO_OIDC_PROVIDERS_SSO_REDIRECT_URI: ${PALPO_OIDC_PROVIDERS_SSO_REDIRECT_URI}
      PALPO_OIDC_PROVIDERS_SSO_SCOPES: ${PALPO_OIDC_PROVIDERS_SSO_SCOPES}
      PALPO_OIDC_PROVIDERS_SSO_DISPLAY_NAME: ${PALPO_OIDC_PROVIDERS_SSO_DISPLAY_NAME}
      PALPO_OIDC_ALLOW_REGISTRATION: ${PALPO_OIDC_ALLOW_REGISTRATION:-true}
      PALPO_OIDC_ENABLE_PKCE: ${PALPO_OIDC_ENABLE_PKCE:-true}
      PALPO_OIDC_USER_MAPPING: ${PALPO_OIDC_USER_MAPPING:-email}
      PALPO_OIDC_SESSION_TIMEOUT: ${PALPO_OIDC_SESSION_TIMEOUT:-600}
      

# configs:
#   palpo-conf:
#     content: |
#       server_name = "${PALPO_SERVER_NAME}"
#       [oidc]
#       enable = ${PALPO_OIDC_ENABLE:-true}
#       [oidc.providers.github]
#       issuer = "${PALPO_OIDC_PROVIDERS_SSO_ISSUER}"
#       client_id = "${PALPO_OIDC_PROVIDERS_SSO_CLIENT_ID}"
#       client_secret = "{PALPO_OIDC_PROVIDERS_SSO_CLIENT_SECRET}"
#       redirect_uri = "${PALPO_OIDC_PROVIDERS_SSO_REDIRECT_URI}"
#       scopes = ${PALPO_OIDC_PROVIDERS_SSO_SCOPES}
#       display_name = "${PALPO_OIDC_PROVIDERS_SSO_DISPLAY_NAME}"
#       allow_registration = ${PALPO_OIDC_ALLOW_REGISTRATION:-true}