# S3 Storage
PALPO_STORAGE__BACKEND=s3
PALPO_STORAGE__ENDPOINT=https://s3.amazonaws.com
PALPO_STORAGE__ACCESS_KEY_ID=myaccesskey
PALPO_STORAGE__SECRET_ACCESS_KEY=mysecretkey
PALPO_STORAGE__BUCKET=apps
PALPO_STORAGE__REGION=us-east-1
PALPO_STORAGE__PREFIX="palpo/"
PALPO_STORAGE__PATH_STYLE=true
PALPO_STORAGE__REDIRECT=true
PALPO_STORAGE__PRESIGN_EXPIRY=300