# OIDC
PALPO_OIDC__ENABLE=true
PALPO_OIDC__DEFAULT_PROVIDER=kanidm
PALPO_OIDC__ALLOW_REGISTRATION=true
PALPO_OIDC__ENABLE_PKCE=true
PALPO_OIDC__USER_MAPPING=email
PALPO_OIDC__SESSION_TIMEOUT=600

PALPO_OIDC__PROVIDERS__SSO__ISSUER=https://keycloak.example.com/oauth2/openid/palpo
PALPO_OIDC__PROVIDERS__SSO__CLIENT_ID=palpo
PALPO_OIDC__PROVIDERS__SSO__CLIENT_SECRET=<your_client_secret>
PALPO_OIDC__PROVIDERS__SSO__REDIRECT_URI=https://matrix.example.com/_matrix/client/oidc/callback
PALPO_OIDC__PROVIDERS__SSO__SCOPES='["openid", "profile", "email", "groups"]'
PALPO_OIDC__PROVIDERS__SSO__DISPLAY_NAME="Sign in with SSO"

PALPO_DELEGATED_AUTH__ENABLE=true