services:
  palpo:
    environment:
      VIRTUAL_PORT: ${VIRTUAL_PORT:-8008}
      VIRTUAL_HOST: ${VIRTUAL_HOST}
      LETSENCRYPT_HOST: ${LETSENCRYPT_HOST}
      LETSENCRYPT_EMAIL: ${LETSENCRYPT_EMAIL}
    networks:
      - letsencrypt-network

  palpo-ui:
    container_name: palpo-ui
    image: ferronserver/ferron:2
    restart: unless-stopped
    environment:
      VIRTUAL_PORT: ${WELL_KNOWN_VIRTUAL_PORT:-80}
      VIRTUAL_HOST: ${WELL_KNOWN_VIRTUAL_HOST}
      LETSENCRYPT_HOST: ${WELL_KNOWN_LETSENCRYPT_HOST}
      LETSENCRYPT_EMAIL: ${WELL_KNOWN_LETSENCRYPT_EMAIL}
    logging:
      driver: "json-file"
      options:
        max-size: 10m
        max-file: 3
    depends_on:
      - palpo
    configs:
      - source: palpo-ui-conf
        target: /etc/ferron.kdl
    networks:
      - letsencrypt-network

configs:
  palpo-ui-conf:
    content: |
      *:80 {
          location "/.well-known" {
              proxy "http://palpo:${VIRTUAL_PORT:-8008}"
          }
          location "/_matrix" {
              proxy "http://palpo:${VIRTUAL_PORT:-8008}"
          }
      }

networks:
  letsencrypt-network:
    external: true