# === LETSENCRYPT CONFIGURATION ===
# Virtual host domain for nginx-proxy
VIRTUAL_PORT=8008
VIRTUAL_HOST=matrix.com

# Let's Encrypt SSL certificate domain
LETSENCRYPT_HOST=matrix.com

# Email for Let's Encrypt certificate registration
LETSENCRYPT_EMAIL=john.smith@mail.com

PALPO_WELL_KNOWN__CLIENT=https://matrix.com
PALPO_WELL_KNOWN__SERVER=${VIRTUAL_HOST}:443