# PostgreSQL (Optional)
COMPOSE_EXTENDS=docker-compose.db.yml
COMPOSE_FILE=docker-compose.yml${COMPOSE_EXTENDS:-}

TZ=Europe/Moscow
POSTGRES_DB=palpo
POSTGRES_USER=palpo
POSTGRES_PASSWORD=changeme
POSTGRES_INITDB_ARGS="--encoding=UTF8 --lc-ctype=C --lc-collate=C"

# PostgreSQL
POSTGRES_HOST=palpo-db:5432
PALPO_DB_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}/${POSTGRES_DB}
PALPO_DB_POOL_SIZE=10